body {
  margin: 0;
  font-family: "Russo One", sans-serif;
  font-family: "Cinzel", serif;
  /* font-family: "Barlow Condensed", sans-serif; */
  /* font-family: "Cormorant Garamond", serif; */
  /* font-family: "Fira Sans Extra Condensed", sans-serif; */
  background-color: #59aacb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
